html,body{
    width: 100%;
    height: 100%;
    margin:0;
    background: blue;
}

#left-div{
    box-sizing: border-box;
    height: 100%;
    width: 34%; 
    float: left;
    background: white;
    border-width: 0 2 0 0;
    border-color: black;
    border-style: solid;
}

#cube {
    height: 36%;
    position: absolute;
    top: 50%;
    left: 7%;
}

#GHE_logo {
    height: 12%;
    position: absolute;
    bottom: 54%;
    left: 4%;
}

#ETHZ_logo {
    height: 7%;
    position: absolute;
    top: 20;
    left: 35;
}



#mid-div {
    box-sizing: border-box;
    height: 100%;
    width: 33%; 
    float: left;
    background: white;
    border-width: 0 2 0 0;
    border-color: black;
    border-style: solid;
}

#right-div{
    box-sizing: border-box;
    height: 100%;
    width: 33%; 
    float: right;
    background:white
}

.mySlides > img {
    width:100%;
}






.mySlides {
    margin-left: auto; 
    margin-right:auto; 
    width: 80%; 
    position:relative
}

.slideshow-container {
    margin-top: 50%;
}
